name: CI Build ESP‑IDF

on:
  push:
    branches: [ "master", "feature/**" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build using ESP‑IDF CI action
        uses: espressif/esp-idf-ci-action@v1
        with:
          path: FIRST_TEST                  
          esp_idf_version: "release/v6.3"     
          target: "esp32"                

      - name: Upload firmware artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            build/**/*.bin
            build/**/*.elf
