name: Build

on:
  push:
    branches: [ main, master ]
    paths:
      - 'FIRST_TEST/**'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'FIRST_TEST/**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.1.2
    steps:
      - uses: actions/checkout@v4
      
      - name: Build ESP-IDF Project
        run: |
          . $IDF_PATH/export.sh
          cd FIRST_TEST
          idf.py build